$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "reset.scss";
@import "offcanvas.scss";

.nav-header {
	&:focus {
		outline: none;
	}

	.breadcrumb {
		background: #f3efe0;
	}
}

.read-more {
    color: #38935f;
    &:hover {
    	cursor: pointer;
    }
}

.inline-paragraph {
	display: inline;
}
