
@import "variables.scss";
html, body {
  background: $zeta-global-background;
}
h1 {
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-top: 15px;
  color: $zeta-main-font-color;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 15px;
  color: #918e84;
}
#container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}
#canvas {
  width: 100%;
  height: 100%;
  padding: 1% 0;
  position: relative;
  transform: translateX(0);
  transition: .5s ease all;
}
#nav {
  width: 300px;
  height: 100%;
  background: $zeta-main-font-color;
  position: absolute;
  left: -300px;
  top: 0;
  transition: .5s ease all;
  transform: rotateY(-90deg);
  overflow: auto;
}
#container.display-nav {
  #canvas {
    transform: translateX(300px);
  }
  #nav {
    transform-origin: 100% 50%;
    transform: perspective(600px) rotateY(0deg);
  }
}
#bars {
  font-size: 2.5em;
  margin: auto 7%;
  color: $zeta-main-font-color;
  float:left;
  &:hover {
    color: $zeta-main-font-hover-color;
    cursor: pointer;
  }
}
#title {
  margin: 0;
  padding: 1em;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
  font-size: 2em;
  font-family: 'Raleway', Arial;
}
.border {
  border-top: 1px solid rgba(0,0,0,0.2);
}
a.back {
  color: $zeta-main-font-color;
  width: 200px;
  text-decoration: none;
  text-align: center;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 50px auto 0 auto;
  border: 2px solid $zeta-main-font-color;
  padding: 10px;
  &:hover {
    color: $zeta-main-font-hover-color;
    border: 2px solid $zeta-main-font-hover-color;
  }
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
}
#toggle {
  list-style: none;
  margin-top: 40px;
  div {
    &:hover {
      background: rgba(0,0,0,0.2);
      box-shadow: inset 0 -1px rgba(0,0,0,0);
      color: #fff;
    }
    cursor: pointer;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  div.active {
    background: #1f9d55;
  }
  ul {
    list-style: disc;
    //display: none;
    color: #fff;
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    li {
      margin-left: 109px;
      a {
        &:hover {
          background: #1f9d55;
        }
        margin-left: 0;
      }
    }
  }
  li {
    a {
      line-height: 41px;
      color: #fff;
      list-style: circle;
      width: 240px;
      padding: 0;
      margin: 0 0 0 50px;
    }
  }
  a {
    margin: 0 0 0 47px;
    padding: 0;
    font-family: 'Lato';
    color: #fff;
    line-height: 41px;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
  }
}
span.menu-icons {
  font-size: 20px;
  height: 20px;
  width: 22px;
  float: left;
  margin: 11px 0px 10px 37px;
  color: #fff;
}
span.the-btn {
  float: right;
  font-size: 20px;
  height: 30px;
  width: 43px;
  margin-top: 10px;
  margin-right: 8px;
  padding: 0;
  color: #fff;
}
