$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

$zeta-global-background: #f3efe0;
$zeta-main-font-color: #38935f;
$zeta-main-font-hover-color: #48b978;