$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

$zeta-container-width: 100%;
$zeta-canvas-width: 100%;
$zeta-menu-width: 300px;

$zeta-global-background: #fff;//#f3efe0;
$zeta-main-font-color: #38935f;
$zeta-main-font-hover-color: #48b978;