<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic,400italic' rel='stylesheet' type='text/css'>
    </head>

    <body ng-app="zetaApp">
        <!--[if lte IE 8]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="container" ng-class="{'display-nav': isNavVisible}">
            <div id="nav" ng-controller="navigationController">
                <h2 id="title"><i class="fa fa-sitemap"></i>MENU</h2>
                <ul id="toggle">
                    <li ng-repeat="(navItem, navDetail) in navigationConfig" ng-click="navSelectionHandler(navItem, navDetail)">
                        <div ng-class="{'active border': navItem == selectedNavItem}">
                            <span class="{{navDetail.iconClass}}"></span> <a ng-href="{{navDetail.targetUrl}}">{{navDetail.viewName}}</a>
                            <span class="the-btn" ng-class="{'fa fa-plus': !navDetail.isSubNavVisible, 'fa fa-minus': navDetail.isSubNavVisible}" ng-if="navDetail.subNav"></span>
                            <ul ng-show="navDetail.isSubNavVisible" ng-if="navDetail.subNav" ng-animate="'animate'" class="slider" ng-click="subNavSelectionHandler($event)">
                                <li ng-repeat="subNavDetail in navDetail.subNav">
                                    <a ng-href="{{subNavDetail.targetUrl}}">{{subNavDetail.viewName}}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <nav id="zeta-nav-header"class="navbar navbar-default navbar-fixed-top" ng-controller="headerController">
                <div class="row">
                    <div class="col-md-12">
                        <a class="toggle-nav" id="bars" ng-click="toggleNavigation()"><i class="fa fa-bars"></i></a>
                        <div class="breadcrumb-area">
                            <div ncy-breadcrumb></div>
                        </div>
                    </div>
                </div>
            </nav>

            <div id="canvas">
                <div ui-view></div>
            </div>
        </div>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/custom/offcanvasSlider.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/configs/navigationConfig.js"></script>
        <script src="scripts/directives/zetaNavBar.js"></script>
        <script src="scripts/controllers/navigationController.js"></script>
        <script src="scripts/controllers/headerController.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
    </body>

</html>